[data-color-mode*='dark'] .login-page-1, .login-page-1 {
  --login-bg: #2c3338;
  --login-color: #fff;
  --login-bg-from: #FC466B;
  --login-bg-to: #3F5EFB;
}

[data-color-mode*='light'] .login-page-1 {
  --login-bg: #edeff3;
  --login-color: #3b4148;
  --login-bg-from: #FC466B;
  --login-bg-to: #3F5EFB;
}
*{
  margin: 0;
  padding: 0;
}
html, body{
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
.login-page-1 {
  background: url('/preview.webp');
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-blend-mode:darken;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page-1-wrapper {
  max-width: 30rem;
  width: 100%;
  max-height: 30rem;
  height: 100%;
  position: relative;
}
.login-page-1-wrapper > article {
  gap: 1.87rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  background: rgba(255,255,255,0.3);
  backdrop-filter: blur(10px);
  border-radius: 1.375rem;
  border-left: 1px solid rgba(255,255,255,0.3);
  border-top: 1px solid rgba(255,255,255,0.3);
  box-shadow: 1.375rem 1.375rem 2.175rem -0.275rem rgba(0,0,0,0.2);
}

.login-page-1 header {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 1.8rem;
  align-items: center;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}


.login-page-1 label input {
  background: transparent;
  padding: 0.8rem;
  padding-right: 1px;
  width: 100%;
  border: 0;
  border-left: 1px solid rgba(255,255,255,0.3);
  border-top: 1px solid rgba(255,255,255,0.3);
  border-radius: 5000px;
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  transition: all .2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}


.login-page-1 input::placeholder {
  color: #fff;
}

.login-page-1 label input:focus {
  background: rgba(255,255,255,0.1);
  box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
}

.login-page-1 section button {
  cursor: pointer;
  margin-top: 5px;
  font-size: 1rem;
  padding: 0.6em 1.2em;
  border-radius: 5000px;
  border: none;
  background: rgba(255,255,255,0.2);
  color: white;
  font-weight: bold;
  transition: 0.3s;
}

.login-page-1 section button:hover {
  background: rgba(255,255,255,0.4);
}

.login-page-1-drops > div {
  animation: float 5s infinite ease-in-out;
  background: rgba(255,255,255,0.3);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border-left: 1px solid rgba(255,255,255,0.3);
  border-top: 1px solid rgba(255,255,255,0.3);
  box-shadow: 10px 10px 60px -8px rgba(0,0,0,0.2);
  position: absolute;
  transition: all .2s ease;
}


.login-page-1-drops div:nth-child(1) { height: 150px; width: 150px; top: -50px; left: -50px; animation-duration: 10s;}
.login-page-1-drops div:nth-child(2) { height: 150px; width: 150px; bottom: -40px; right: 400px; animation-duration: 5s;}
.login-page-1-drops div:nth-child(3) { height: 150px; width: 150px; bottom: -30px; right: -80px; animation-duration: 7s;}
.login-page-1-drops div:nth-child(4) { height: 120px; width: 120px; top: -50px; right: -50px; animation-duration: 8s;}
.login-page-1-drops div:nth-child(5) { height: 80px; width: 80px; top: -20px; left: 300px; animation-duration: 6.5s;}
@keyframes float{
  0% {transform: translateY(0px);}
  50% {transform: translateY(-15px);}
  100%{transform: translateY(0px);}
}

.dropdown-section {
  position: relative;
  margin: 5px;
}

.dropdown-btn {
  padding: 10px 20px;
  width:100%;
  background-color:  rgba(255,255,255,0.3);
  color: rgba(255,255,255,0.3);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.dropdown-btn:hover {
  background-color:  rgba(255,255,255,0.3);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color:  white;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.dropdown-item {
  padding: 10px 20px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}